@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
    
}
a{
    text-decoration: none;
}
header{
    width: 1140px;
    min-width: 80%;
    margin: auto;
    height: 100px;
    display: flex;
    align-items:center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
    
}
header div{
    padding: 0px;
    font-size: 20px;
    text-align: right;
    color: #fff;
    font-weight: bold;
}
header a{
    text-align: left;
    color: #eee;
    margin-right: 40px;
    font-weight:900;
}
#menu-icon{
    cursor: pointer;
    z-index: 101;
    display: none;
}

.forms{
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 100px;
    width: 230px;
}
form{
    display: flex;
    flex-direction: column;
    color: #e75b1e;
}
label{
    margin-top: 10px;
    font-weight: bold;
}
.pricetext{
    background-color: rgb(198, 109, 7);
    color: #000;
    padding:8px 15px ;
    border-radius: 10px;
}
.alllist{
    object-fit: cover;
    margin-top: -130px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.alllist .list .item{
  position: absolute;
  inset: 0 0 0 0;
  display: inline-block;
}
.alllist .list .item img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.alllist .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 45%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.alllist .list .item .content .type-service{
     font-weight: bold;
    font-size: 25px;
}
.alllist .list .item .content  .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 10px;
    margin-top: 20px;
}
.alllist .list .item .content .button button{
    border: none;
    background-color: #eee;
    font-family: Poppins;
    font-weight: 500;
    border-radius: 20px;
    width: 100px;
}
.alllist .list .item .content .button button:hover{
    opacity: 0.3;
}
.allslider{
    position: absolute;
    bottom: 50px;
    left: 60%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.allslider .slide{
    width: 120px;
    height: 200px;
    flex-shrink: 0;
    position: relative;
}
.allslider .slide img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;
}
.allslider .slide .tittle{
   color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-size: 15px;
font-weight: 300;
}
   .arrows{
    position: absolute;
    top: 90%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}
.alllist .list .item:nth-child(1){
    z-index: 1;
}
.alllist.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
.alllist.next .all-slider .slide:nth-last-child(2){
    width: 0;
    overflow: hidden;
    animation: showAll-slider 0.5s linear 1 forwards;
}
@keyframes showAll-slider{
    to{
        width: 150px;
    }
}




.alllist.next .list .item:nth-last-child(1) .content{
    animation: contentIn 0.5s linear 1 forwards;
}
@keyframes contentIn{
    to{
        transform: translateX(150px);
        filter: blur(100px);
        opacity: 0;
    }
}





.alllist.next .all-slider{
    transform: translateX(150px);
    animation: transformAll-slider 0.5s linear 1 forwards;
}

@keyframes transformAll-slider{
    to{
        transform: translateX(0);
    }
}





.alllist.prev .list .item:nth-child(2){
    z-index: 2;
}
.alllist.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImge 0.5s linear 1 forwards;
}
@keyframes outImge{
    to{
        width: 120px;
        height: 200px;
        border-radius: 20px;
        left: 60%;
        bottom: 50px;
    }
}
.alllist.prev .all-slider .slide:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showAll-slider 0.5s linear 1 forwards;
}
.alllist.prev .list .item:nth-child(2) .content{
    animation: contentout 1.5s linear 1 forwards;
}
@keyframes contentout{
    to{
        transform: translateY(150px);
        filter: blur(100px);
        opacity: 0;
    }
}
.alllist.next .arrows button,
.alllist.prev .arrows button{
    pointer-events: none;
}
.alllist .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #fff;
    left: 0;
    top: 0;
}

.alllist.next .time,
.alllist.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}
@media screen and (max-width: 678px) {
    .alllist .list .item .content{
        padding-right: 0;
    }
    .alllist .list .item .content .type-service{
        font-size: 30px;
    }
    #menu-icon{
        display: block;
    }
    header nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        height: 40v;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;




    }
}

footer {
    bottom: 0;
    left: 0;
    background-color: #d65a28; 
    color: white;
    padding: 20px;
    width: 100%;
    height: 10px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info p,
.social-media a {

  margin: 0 10px;
}
.contact-info p a{
    color: #eee;
    font-size: 15px;
}
.social-media a {
  font-size: 20px;
  color: #333; 
}